body {
    font-family: 'Architects Daughter', sans-serif;
   background-color: lightgrey;
   margin: 5px;
   display: grid;
    
}
img {
    width: 100%;
    height: 400;
    outline-style: double;
    outline-color: black;
    object-position: 15% 100%;
}


#buttons {
    display: block;
    justify-content: center;

    
}
input{
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    border-radius: 15%;
}

header {
    justify-content: center;
    padding: 5px;
    text-align: center;
}
